<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>thumb</key>
		<string>http://papers.co/desktop/wp-content/uploads/papers.co-ak40-apple-store-front-bw-dark-architecture-city-29-wallpaper-320x180.jpg</string>
		<key>origin</key>
		<string>http://papers.co/wallpaper/papers.co-ak40-apple-store-front-bw-dark-architecture-city-35-3840x2160-4k-wallpaper.jpg</string>
	</dict>
	<dict>
		<key>thumb</key>
		<string>http://papers.co/desktop/wp-content/uploads/papers.co-mx12-fall-tree-leaf-autumn-nature-mountain-29-wallpaper-320x180.jpg</string>
		<key>origin</key>
		<string>http://papers.co/wallpaper/papers.co-mx12-fall-tree-leaf-autumn-nature-mountain-35-3840x2160-4k-wallpaper.jpg</string>
	</dict>
	<dict>
		<key>thumb</key>
		<string>http://papers.co/desktop/wp-content/uploads/papers.co-hd88-crawford-chace-handsome-actor-celebrity-29-wallpaper-320x180.jpg</string>
		<key>origin</key>
		<string>http://papers.co/wallpaper/papers.co-hd88-crawford-chace-handsome-actor-celebrity-35-3840x2160-4k-wallpaper.jpg</string>
	</dict>
	<dict>
		<key>thumb</key>
		<string>http://papers.co/desktop/wp-content/uploads/papers.co-mq66-wave-ocean-beach-blue-lake-nature-29-wallpaper-320x180.jpg</string>
		<key>origin</key>
		<string>http://papers.co/wallpaper/papers.co-mq66-wave-ocean-beach-blue-lake-nature-35-3840x2160-4k-wallpaper.jpg</string>
	</dict>
	<dict>
		<key>thumb</key>
		<string>http://papers.co/desktop/wp-content/uploads/papers.co-hh13-curry-nba-golden-state-warriors-sports-29-wallpaper-320x180.jpg</string>
		<key>origin</key>
		<string>http://papers.co/wallpaper/papers.co-hh13-curry-nba-golden-state-warriors-sports-35-3840x2160-4k-wallpaper.jpg</string>
	</dict>
	<dict>
		<key>thumb</key>
		<string>http://papers.co/desktop/wp-content/uploads/papers.co-mh07-petco-park-mlb-stadium-sports-life-29-wallpaper-320x180.jpg</string>
		<key>origin</key>
		<string>http://papers.co/wallpaper/papers.co-mh07-petco-park-mlb-stadium-sports-life-35-3840x2160-4k-wallpaper.jpg</string>
	</dict>
	<dict>
		<key>thumb</key>
		<string>http://papers.co/desktop/wp-content/uploads/papers.co-ax26-audi-car-rain-illustration-art-29-wallpaper-320x180.jpg</string>
		<key>origin</key>
		<string>http://papers.co/wallpaper/papers.co-ax26-audi-car-rain-illustration-art-35-3840x2160-4k-wallpaper.jpg</string>
	</dict>
	<dict>
		<key>thumb</key>
		<string>http://papers.co/desktop/wp-content/uploads/papers.co-hh34-seolhyun-aoa-kpop-sea-sumner-cute-swimsuit-29-wallpaper-320x180.jpg</string>
		<key>origin</key>
		<string>http://papers.co/wallpaper/papers.co-hh34-seolhyun-aoa-kpop-sea-sumner-cute-swimsuit-35-3840x2160-4k-wallpaper.jpg</string>
	</dict>
	<dict>
		<key>thumb</key>
		<string>http://papers.co/desktop/wp-content/uploads/papers.co-hj89-kpop-port-bokeh-shin-mina-29-wallpaper-320x180.jpg</string>
		<key>origin</key>
		<string>http://papers.co/wallpaper/papers.co-hj89-kpop-port-bokeh-shin-mina-35-3840x2160-4k-wallpaper.jpg</string>
	</dict>
	<dict>
		<key>thumb</key>
		<string>http://papers.co/desktop/wp-content/uploads/papers.co-hl10-taeyeon-kpop-snsd-purple-pink-girl-29-wallpaper-320x180.jpg</string>
		<key>origin</key>
		<string>http://papers.co/wallpaper/papers.co-hl10-taeyeon-kpop-snsd-purple-pink-girl-35-3840x2160-4k-wallpaper.jpg</string>
	</dict>
	<dict>
		<key>thumb</key>
		<string>http://papers.co/desktop/wp-content/uploads/papers.co-hf24-sugin-park-kpop-sexy-cute-girl-29-wallpaper-320x180.jpg</string>
		<key>origin</key>
		<string>http://papers.co/wallpaper/papers.co-hf24-sugin-park-kpop-sexy-cute-girl-35-3840x2160-4k-wallpaper.jpg</string>
	</dict>
	<dict>
		<key>thumb</key>
		<string>http://papers.co/desktop/wp-content/uploads/papers.co-ab53-wallpaper-grungee-pattern-29-wallpaper-320x180.jpg</string>
		<key>origin</key>
		<string>http://papers.co/wallpaper/papers.co-ab53-wallpaper-grungee-pattern-35-3840x2160-4k-wallpaper.jpg</string>
	</dict>
</array>
</plist>
